CREATE TABLE subscription_plans (
  id TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  base_price NUMERIC NOT NULL,
  included_minutes INTEGER NOT NULL,
  overage_rate NUMERIC NOT NULL,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

INSERT INTO subscription_plans (id, name, base_price, included_minutes, overage_rate)
VALUES 
  ('starter', 'Starter', 49.00, 500, 0.12),
  ('growth', 'Growth', 89.00, 1000, 0.10),
  ('pay_as_you_go', 'Pay As You Go', 5.00, 0, 0.05);

